<header>
    <h1>JFteck</h1>
    <div class="field_header">
        <div class="busca">
            <input type="search" placeholder="Buscar">
            <img src="/images/search.svg" alt="">
        </div>

        <a href="/FormProdutos">Criar Produtos</a>
    </div>

    <img src="/images/menu.svg" alt="" class="menu_hamburguer">

</header>
<section class="body_menu">
    <div class="menu">
        <h2>JFteck</h2>
        <a href="">Categorias</a>
        <a href="">Sobre</a>
        <a href="">Contato</a>
    </div>
</section>
