{{#if success_msg}}
    <div class="success_msg">
        <h3>{{success_msg}}</h3>
        <hr style="margin:10px;">
    </div>
{{/if}}
{{#if error_msg}}
    <div class="success_msg">
        <h3>{{error_msg}}</h3>
        <hr style="margin:10px;">
    </div>
{{/if}}