@import './mixins.scss';

.containerProducts{
    width: 80%;
    height:78vh;
    margin-top:15px;
    @include display-flex;
    flex-direction:column;
    background-color:rgb(228, 227, 227);
    position:relative;
    
    h2{
        text-decoration:underline;
        margin:18px;
    }

    form{
        width:66%;
        margin-top:20px;

        .field_ons{
            display:flex;

            label{
                width:48%;
                font-size:18px;
                margin:12px;

                select,input{
                    width:100%;
                    height:45px;
                    font-size:18px;
                    padding-left:10px;
                    margin:15px;
                    border:none;
                    font-weight:600;
                }
                textarea{
                    width:100%;
                    height:50px;
                    margin:10px;
                }
            }
        }

        button{
            padding:10px 20px;
            border:none;
            background-color: rgb(55, 182, 55);
            color:white;
            font-size:18px;
            margin:2px 0 0 14em;
            cursor:pointer;
            transition: ease-in-out 700ms;

            &:hover{
                border-radius: 25px;
                background-color: rgb(37, 119, 47);
                color:rgb(147, 145, 145);
                box-shadow:3px 4px 5px #000;
            }
        }
    }
    
    .l-one{
        color:rgb(246, 244, 244);
        padding:12px;
        position:absolute;
        bottom:12px;
        left:12px;
        background-color:rgb(82, 82, 192);
        text-decoration:none;

        &:hover{
            background-color:rgb(67, 67, 164);
        }
    }
    .l-cat{
        color:rgb(246, 244, 244);
        padding:12px;
        position:absolute;
        top:22px;
        right:10px;
        background-color:rgb(82, 82, 192);
        text-decoration:none;

        &:hover{
            background-color:rgb(67, 67, 164);
        }
    }
}