@import './mixins.scss';

header{
    width: 80%;
    height:120px;
    @include display-flex;
    justify-content:space-around;
    background-color:rgb(88, 185, 90);

    h1{
        margin:0px 10px 0px 15px;
        text-decoration:underline;
        color:white;

        &:hover{
            color:#ccc;
        }
    }

    a{
        margin:10px;
        text-decoration:none;
        color:White;
        font-size:18px;
        text-transform:uppercase;

        &:hover{
            color:#ccc;
        }
    }

}