@import './mixins.scss';

header{
    width: 80%;
    height:120px;
    @include display-flex;
    justify-content:space-around;
    background-color:rgb(88, 185, 90);

    h1{
        margin:0px 10px 0px 15px;
        text-decoration:underline;
        color:white;

        &:hover{
            color:#ccc;
        }
    }

    .field_header{
        width:65%;
        display:flex;

        .busca{
            display:flex;
            justify-content:center;
            width:62%;

            input{
                width:72%;
                height:40px;
                padding-left:6px;
                font-size:18px;
                border:none;
                border-radius:5px 0px 0px 5px;
            }
            img{
                width: 40px;
                height:40px;
                background:white;
                cursor:pointer;
            }
        }
    
        a{
            margin:10px;
            text-decoration:none;
            color:White;
            font-size:18px;
            text-transform:uppercase;
    
            &:hover{
                color:#ccc;
            }
        }
    }
}

.body_menu{
    width:80%;
    height:calc(100% - 120px);
    background-color:rgba(37, 37, 37, 0.572);
    display:none;
    justify-content: flex-end;
    position:absolute;
    top:120px;
    z-index:1000;



    .menu{
        width:50%;
        height:350px;
        background-color:#ccc;
        border-radius:10px;

        h2{
            text-decoration:underline;
            text-align:center;
            margin:25px;
            font-size:22px;

        }

        a{
            text-decoration:none;
            font-weight:bold;
            font-size:20px;
            margin:15px 10px 10px 10px;
            display:block;
        }
    }
}

.btn_close{
    display:flex;
}