*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:rgb(255, 253, 253);
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

@import './header.scss';
@import './Formcategories.scss';
@import './FormProducts.scss';
@import './msg.scss';