<section class="container_categorias">
    <p>{{tamanho}} categoria(s) cadastrada(s)</p>
    {{#each categorias}}
        <h3>{{name}}</h3>
    {{else}}
        <h3>nehuma categoria cadastrada</h3>
    {{/each}}

    <a href="/">Voltar</a>
</section>