<section>
    <form action="/createCategories" method="post">
        <label for="">Name: </label>
        <input type="text" placeholder="example: E-books">

        <label for="">Slug:</label>
        <input type="text" placeholder="Eample: Books">

        <button class="btnCreateCategories">Criar Categoria</button>
    </form>
</section>