{{#each erros}}
    <div class="erros">
        <h3>{{texto}}</h3>
        <hr style="margin:10px;">
    </div>
{{/each}}

<article class="containerProducts">
    <h2>Cadastrar Produtos</h2>
    <form action="/createProdutos" method="post">
        <div class="field_ons">
            <label for="">Autor:
                <input type="text" nam="autor">
            </label>


            <label for="">Titulo:
                <input type="text" name="titulo">
            </label>
        </div>

        <div class="field_ons">
            <label for="">Slug:
                <input type="text" nam="slug">
            </label>


            <label for="">Preço:
                <input type="number" name="preco">
            </label>
        </div>

        <div class="field_ons">
            <label for="">Categoria:
                <select name="categoria" id="">
                    <option value="0" >Escolha uma opção</option>
                </select>
            </label>

            <label for="">Descrição:
                <input type="text" name="descricao">
            </label>
        </div>

        <div class="field_ons">
            <label for="">Conteudo: 
                <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
            </label>
        </div>

        <button>Cadastrar Produtos</button>
        <a href="/" class="l-one">Cancelar</a>
        <a href="/FormCategories" class="l-cat">Cadastrar Categorias</a>
    </form>
</article>