<article class="containerProducts">
    <h2>Cadastrar Produtos</h2>
    <form action="" method="post">
        <label for="">Nome:
            <input type="text" nam="name">
        </label>

        <label for="">Slug:
            <input type="text" name="slug">
        </label>

        <label for="">Categoria:
            <select name="categoria" id="">
                <option value="categoria"></option>
            </select>
        </label>

        <label for="">Descrição:
            <input type="text" name="descricao">
        </label>

        <label for="">Conteudo: 
            <input type="text" name="conteudo">
        </label>

        <label for="">Preço:
            <input type="number" name="preco">
        </label>

        <button>cadastrar Produtos</button>
        <a href="/" class="l-one">Cancelar</a>
        <a href="/FormCategories" class="l-cat">Cadastrar Categorias</a>
    </form>
</article>